[submodule "firmware/efm32-base"]
	path = firmware/efm32-base
	url = git@bitbucket.org:electronpowered/efm32-base.git
[submodule "bootloader/efm32-base"]
	path = bootloader/efm32-base
	url = git@bitbucket.org:electronpowered/efm32-base.git
